#title{
	background-color: #ef8172;
	color:#fff;
}
body{
	font-family: 'Montserrat'
}
a{
	font-family: 'Handlee', cursive;
}
h1{
	
	size=3rem;
	line-height: 1.5;
}
.container-fluid{
	padding: 3% 15%;
}

.title-image{
	width: 18%;
	margin-top: 20px;
	transform: rotate(25deg);
	margin-left: 250px;
	position: absolute;
}

.download-button{
	margin:5% 3% 5% 0;
	text-align: center;

}
#features{
	padding: 7% 15%;
	background-color: #fff;
	position: relative;
	z-index: 1;

}
.feature-box{
	text-align: center;
}

 h1,h2,h3,h4,h5,h6{
font-family: "Montserrat-Bold";
 }
h3{
	
	font-size:1.5rem;
	text-align: center;
}
p{
	color:#8f8f8f;
}

.icon{
	color:#ef8172;
	margin:1rem;
}
.icon:hover{
	color:#ff4c68;
}

#testimonials{
padding:7% 15%;
text-align: center;
background-color: #ef8172;
color: #fff;
}

h2{
	
	font-size:3.5rem;
	line-height: 1.5;


}
.testm{
	width: 10%;
	border-radius: 100%;
	margin:20px;
}

#press{
	background-color: #ef8172;
	text-align: center;
	padding-bottom: 3%;
}
.press-logo{
	width: 15%;
	margin:20px 20px 50px;
}
.dog-profile{
		width: 20%;
	border-radius: 100%;
	margin:20px;
	}
.lady{
		width: 20%;
	border-radius: 100%;
	margin:20px;
}
.carousel-item{
	padding:7% 25%;
}
#pricing{
	padding:7% 15%;
	text-align: center;
}
.pricing-column{
	padding: 3% 2%;
}
@media (max-width: 1000px){
	#title{
		text-align: center;
	}
	.title-image{
		position: static;
		transform: rotate(0);
	}
}

#cta{
	background-color: #ff4c68;
	color: #fff;
	padding: 7% 15%;
}
.cta-heaind{
	font-family: "Montserrat-Black";
	font-size: 3.5rem;
	line-height: 1.5;
	text-align: center;
}
#foot{
	padding: 7% 15%;
	text-align: center;
}

.si{
	margin: 20px 10px;
}